<ion-view>
  <ion-header-bar align-title="center" class="bar-dark">
    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
    <h1 class="title">About us</h1>
  </ion-header-bar>
  <!--  -->
  <ion-content class="has-header">
    <div class="list card">
      <div class="item item-avatar">
        <img src="images/me.jpg">
        <h2>Sachin Bansal</h2>
        <p><a href="http://sachinbansal.me">sachinbansal.me</a></p>
      </div>

      <div class="item item-body" style="text-align: center">
        <img class="full-image" src="images/icon.png" style="width:300px; height:300px;">
        <p>
          Expense Watch is an app to visualize your money go. It allows you to add the expenses as you spend them, and then view them in some cool graphs, so that you can manage money better.
        </p>
      </div>

    </div>
  </ion-content>
</ion-view>
