.loader {
  text-align: center;
  width: 100%;
  padding: 20px 0;
}

.cash {
  color: #ddd !important;
  background-color: rgb(214, 39, 40);
}

.credit {
  color: #ddd !important;
  background-color: rgb(31, 119, 180);
}